body {
    background-color: #ababab;
}

#main-container {
    background-color: #cdcdcd;
    max-width: 600px;
    border-radius: 10px;
}

.h1 {
    margin: 3rem 9%;
    padding: 10px;
    width: 278px;
    height: 47px;
    font-family: 'PT Serif', serif;

}

h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 47.7px;
}

h1::selection, h2::selection, .section-texts p::selection {
    color: #fff;
    background-color: #d3d3a9;
}

.p-1::selection, .p-2::selection {
    color: #f7f7e9;
    background-color: #d9d99d;
}

.footer-container p::selection, a::selection {
    color: #fefefc;
    background-color: #b3b38a;
}

.section-texts {
    font-family:  'Poppins', sans-serif;
    margin: 0 9%  4rem;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
}

.section-texts h2 {
    flex-basis: 50%;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 1rem;
}

.section-texts p {
    flex-basis: 20.813rem;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.imagenes {
    margin: 1.23rem .54rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 20rem);
    gap: 1.513rem;
    min-width: 300px;
    height: 66.53rem;
    background-color: #cdcdcd;
    /* cdcdcd 
    442.90px
    1.513rem*/
}

.imagenes .content {
    max-width: 11rem;
    padding: 9px
} 

.imagenes img {
    max-width: 138.72px;
    height: 200px;
}

.content-1, .content-3, .content-5 {
    justify-self: center;
    align-self: start;
    min-width: 11rem;
    height: 17rem;
    transition: max-widht height;
    transition-duration: 2s;
}

.content-2, .content-4, .content-6 {
    align-self: end;
}

.content-6 {
    align-self: center;
}

.content {
    transition: box-shadow, max-width, height, background-color;
    transition-duration: .5s;
    border-radius: 6px;
}

.content:active {
    max-width: 11.5rem;
    height: 16.5rem;
    background-color: #eee;
    box-shadow: 1px 1px 5px #333;
    
}

.content-1:active, .content-3:active, .content-5:active{
    min-width: 11.5rem;
    height: 17rem;
}

.imagenes .p-1 {
    font-family: 'PT Serif', serif;
    rotate: 90deg;
    position: relative;
    max-width: 140px;
    bottom: 8.7rem;
}

.content-1 .p-1 {
    left: 5.3rem;
    
}

.content-2 .p-1 {
    left: 5.1rem;
}

.content-3 .p-1, .content-5 .p-1, .content-6 .p-1 {
    left: 5.2rem;
}

.content-4 .p-1 {
    left: 5.12rem;
}

.p-2 {
    font-family:  'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 14px;
}

.footer-container {
    width: 100%;
    padding: 7rem 4rem 1rem 4rem
}

.footer-container p, a{
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    color: #646464;
    font-family: Montserrat;
}

.footer-container a {
    text-decoration: none;
    font-weight: 900;
    color: #8d5a5a;
}



/* 730px */
@media screen and (min-width: 730px) {

    #main-container {
        margin: 2rem ;
    }

    .h1 {
        margin: 4rem 13% 2.5rem;
        width: 378px;
        height: 57px;
    }

    .section-texts {
        margin: 0 13%  4rem;
        flex-basis: 30rem;
        padding: 10px;
    }

    .section-texts h2 {
        flex-basis: 30%;
        font-weight: 600;
        font-size: 22px;
        height: min-content;
        margin-bottom: 1.3rem
    }
    
    .section-texts p {
        flex-basis: 24.6rem;
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
    }

    .imagenes {
        margin: 5rem 2rem;
        gap: 1.513rem;
        height: 63.53rem;
    }

    .imagenes .content {
        max-width: 13rem;
    } 

    .imagenes img {
        min-width: 160px;
        height: auto;
    }

    .content-1, .content-3, .content-5 {
        min-width: 13rem;
        height: 18rem;
    }

    .content-1 .p-1 {
        left: 6.7rem;
        
    }
    
    .content-2 .p-1 {
        left: 6.68rem;
    }
    
    .content-3 .p-1, .content-5 .p-1, .content-6 .p-1 {
        left: 6.5rem;
    }
    
    .content-4 .p-1 {
        left: 6.6rem;
    }

    .content:hover {
        max-width: 13.2rem;
        height: 19rem;
        background-color: #eee;
        box-shadow: 1px 1px 5px #333;
        
    }
    
    .content-1:hover, .content-3:hover, .content-5:hover{
        min-width: 14rem;
        height: 19rem;
    }

    .imagenes .p-1 {
        max-width: 160px;
        font-size: 17px;
        font-weight: 700;
        letter-spacing: 1px;
    }

    .p-2 {
        font-weight: 600;
        font-size: 17px;
        line-height: 14px;
    }

}

@media screen and (min-width: 1050px) {

    .h1 {
        margin: 7rem 10%;
        padding: 25px 10px;
        width: 378px;
        height: 57px;
    }

    .section-texts {
        margin: 0 8%;
        flex-flow: column wrap;
        position: relative;
        left: 26rem;
        bottom: 10rem;
        height: 13rem;
        width: 25rem;
        padding: 25px 10px;
    }
    .section-texts h2 {
        padding: 20px 10px;
        max-height: 2rem;
        max-width: 15rem;
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 1.3rem;
    }
        
    .section-texts p {
        padding: 20px 10px;
        min-width: 25rem;
        max-height: 5rem;
        font-weight: 600;
        font-size: 17px;
        line-height: 21px;
    }

    .imagenes {
        margin: -10rem 2rem 5rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 25rem);
        row-gap: 1.6rem;
        height: 55rem;
    }

    .imagenes .content {
        min-width: 13.2rem;
        height: 18rem;
        padding: 9px;
    } 
    
    .content-1, .content-3, .content-4, .content-6 {
        justify-self: center;
        align-self: center;
        min-width: 11rem;
        height: 17.8rem;
    }

    .content-4, .content-6 {
        align-self: start;
    }
    
    .content-2, .content-5 {
        justify-self: center;
        align-self: end;
    }

    .content {
        transition: box-shadow, height, min-width;
        transition-duration: .5s;
        border-radius: 6px;
    }

    .content:hover {
        min-width: 14rem;
        height: 18.7rem;
        box-shadow: 1px 1px 5px #333;
        
    }

    .content-2:hover, .content-4:hover, .content-6:hover {
        min-width: 14.5rem;
    }
        
}

/* PC */
@media screen and (min-width: 1300px) {

    .h1 {
        margin: 7rem 17%;
    }

    .section-texts {
        margin: 0 17%;
    }
    
    .imagenes {
        margin: -10rem 7rem 5rem;
        border-radius: 10px;
    }
}